<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="/static/css/simple-sidebar.css" rel="stylesheet">
  <link href="/static/css/products.css" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<style>
  .btn-product{
    width: 100%;
  }
</style>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Menu Items</div>
      <div class="list-group list-group-flush">
        <a href="profile" class="list-group-item list-group-item-action bg-light activate">Edit Profile</a>
        <a href="users" class="list-group-item list-group-item-action bg-light activate">Users</a>
        <a href="products" class="list-group-item list-group-item-action bg-light activate">Products</a>
        <a href="orders" class="list-group-item list-group-item-action bg-light">Orders</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid" id="app">
        <h1 class="mt-4">Products
          <i class="fa fa-plus" aria-hidden="true" style="color:green" v-on:click="addNew=true"></i>
        </h1>
        <table class="table" id="app">
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>actions</th>
          </tr>
          <tr v-if="addNew">
            <td><input type="text" v-model="newProduct.name"></td>
            <td><input type="text" v-model="newProduct.quantity"></td>
            <td><input type="text" v-model="newProduct.price"></td>
            <td><button v-on:click="addProduct()">Add</button>
              <button v-on:click="addNew=false">Close</button>
              <i class="fa fa-cloud-upload" aria-hidden="true" style="color:green" v-if="productAdded"></i>
            </td>

          </tr>

          <tr v-if="editProduct">
            <td><input type="text" v-model="virtualProduct.name"></td>
            <td><input type="text" v-model="virtualProduct.quantity"></td>
            <td><input type="text" v-model="virtualProduct.price"></td>
            <td><button v-on:click="updateProduct()">Update</button>
              <button v-on:click="editProduct=false;virtualProduct={}">Close</button>
              <i class="fa fa-cloud-upload" aria-hidden="true" style="color:green" v-if="productUpdated"></i>
            </td>

          </tr>

          <tr v-for="product of products">
            <td>{{product.name}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price}}</td>
            <td><button v-on:click="delProduct(product)">Delete</button>
            <button v-on:click="editProduct=true;virtualProduct=product">Edit</button></td>
          </tr>
        </table>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

  <script>
    new Vue({
      el: '#app',
      data () {
        return {
          addNew: false,
          productAdded: false,
          editProduct: false,
          productUpdated: false,
          products: [],
          newProduct:{

          },
          virtualProduct:{}
        }
      },
      mounted () {
        this.getProducts()
      },
      methods:{
        getProducts: function () {
          this.products = []
          axios.get('/admin/getProducts')
                  .then(response => (this.products = response.data))
                  .catch(err => console.log(err))
        },
        addProduct: function () {
          console.log("add product method calculated")
          console.log(this.newProduct)
          axios.post('/admin/addProduct',this.newProduct)
                  .then(response => {
                    this.productAdded = response.data
                    if(this.productAdded) {
                      this.getProducts()
                      this.newProduct = {}
                    }
                    setTimeout(()=>{
                      this.productAdded = false
                    },1000*5)
                  }).catch(function(err){
            console.log(err)
          })
        },
        updateProduct: function () {
          axios.post('/admin/updateProduct',this.virtualProduct)
                  .then(response => {
                    this.productUpdated = response.data
                    if(this.productUpdated) {
                      this.getProducts()
                      this.virtualProduct = {}
                    }
                    setTimeout(()=>{
                      this.productUpdated = false
                      this.editProduct = false
                    },1000*5)
                  }).catch(function(err) {
            console.log(err)
          })
        },

        delProduct: function (product) {
          let productName = product.name
          productName = productName.toString()
          if(confirm(`Do you really want to delete the product ${{productName}}`)) {
            axios.get(`/admin/deleteProduct?id=${product._id}`).then(response => {
              if(response.data) {
                this.getProducts()
              }
            })
          }
        }
      }
    })
  </script>

</body>

</html>
